.root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.spinner {
  color: var(--primary);
  animation: spin 1s linear infinite;
}

.sm {
  width: 16px;
  height: 16px;
}

.md {
  width: 32px;
  height: 32px;
}

.lg {
  width: 48px;
  height: 48px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
